table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
}
