html {
    color: #f3f3f3;
    background-color: #232323;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent; /* Inherits html background */
    color: inherit; /* Inherits html color */
}

a {
    color: #8ab4f8;
    text-decoration: none; /* Optional: removes underline from links */
}

header, footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 1px 3px #000;
}

.main, .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1900px;
    margin: auto;
}

.centr {
    text-align: center;
    padding-right: 5px;
}

.box {
    background-color: #333333;
    color: #f3f3f3;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 1px 3px #000;
}

h1, h2 {
    color: #8ab4f8;
}

#features ul, #how-it-works ol {
    list-style-type: none;
    padding: 0;
}

#features li::before, #how-it-works li::before {
    content: "✓";
    color: #8ab4f8;
    padding-right: 8px;
}

#how-it-works ol {
    counter-reset: item;
}

#how-it-works li::before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #f3f3f3;
}

footer p {
    font-size: 0.8em;
}

progress {
    width: 100%;
    height: 20px;
}

progress[value] {
    background-color: #333;
}

progress[value]::-webkit-progress-bar {
    background-color: #333;
}

progress[value]::-webkit-progress-value {
    background-color: #8ab4f8;
}

progress[value]::-moz-progress-bar {
    background-color: #8ab4f8;
}

.home .box .box {
    margin-top: 10px;
    background-color: #232323; /* Differentiate nested boxes */
    padding: 10px;
}

@media (max-width:629px) {
    .home {
        flex-direction: column;
    }

    img#optional {
        display: none;
    }

    .box, .main {
        padding: 5px;
        margin: 5px;
    }
}
